.Education h1 {
	font-weight: bold;
	font-family: 'Shift';
	font-size: 20px;
}
.Experience h2 {
	font-weight: bold;
	font-family:'Shift';
	font-size: 20px;
}
.Activities h3 {
	font-weight: bold;
	font-family:'Shift';
	font-size: 20px;
}
.Skills h4 {
	font-weight: bold;
	font-family:'Shift';
	font-size: 20px;
}